*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:white;
}
.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 300%   ;
}
.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: blanchedalmond;
    margin: 5px;
}
@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
    
}

@media screen and (max-width: 768px) {
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
    }
    
}
/*************************************************************************************
Page 1

**************************************************************************************/
.FirstPage{
    display: grid;
}
/*************************************************************************************
Page 2

**************************************************************************************/